<!DOCTYPE html>
<html>
<head>
    <style>

        div.container {
            width: 100%;
            border: 1px solid gray;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            background-repeat: repeat-x;
            background-position: left top;
            margin: 37px 0px 0px 0px;
        }

        header {
            background-color: black;
            color: white;
            text-align: center;
            padding: 10px;
            display: block;
        }

        article {
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
        }

        footer {
            background-color: black;
            color: white;
            clear: both;
            text-align: center;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <header>
            <h1>About Crazy Bikes</h1>
            <img src="~/images/header.jpg"  alt="RMOTR logo" />
        </header>


        <article>
            <ul>
                <h3>
                    The Beginning
                </h3>
                <p>
                    Crazy Bikes Company made motorcycles, bicycles, lawnmowers and stationary
                    engines under the name Royal Enfield out of its works based at Redditch, Worcestershire.
                    The legacy of weapons manufacture is reflected in the logo comprising the cannon,
                    and the motto "Made like a gun". Use of the brand name Royal Enfield was licensed
                    by the Crown in 1890.
                </p>


                <h3>
                    The Early Years
                </h3>
                <p>
                    In 1909 Royal Enfield surprised the motorcycling world by introducing a small Motorcycle
                    with a 2 ¼ HP V twin Motosacoche engine of Swiss origin. In 1911 the next model
                    was powered by a 2 ¾ HP engine and boasted of the well known Enfield 2-speed gear.
                    In 1912 came the JAP 6 HP 770 CC V twin with a sidecar combination. It was this
                    motorcycle which made Enfield a household name. 1914 saw the 3 HP motorcycles this
                    time with Enfield’s own engine which now had the standardised Enfield paint scheme
                    of black enamelled parts and green tank with gold trim.
                </p>

        </article>


        <footer>© CRAZY BIKES. ALL RIGHTS RESERVED.</footer>
    </div>
</body>
</html>
