<!DOCTYPE html>
<html>
<head>
    <style>

        div.container {
            width: 100%;
            border: 1px solid gray;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            background-repeat: repeat-x;
            background-position: left top;
            margin: 37px 0px 0px 0px;
        }

        header {
            background-color: black;
            color: white;
            text-align: center;
            padding: 10px;
            display: block;
        }

        article {
            float: left;
            border-left: 1px solid gray;
            padding: 0;
            overflow: hidden;
        }

        footer {
            background-color: black;
            color: white;
            clear: both;
            text-align: center;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <header>
            <h1>Crazy Bikes</h1>
            <img src="~/images/ride-desktop.jpg" />

        </header>


        <article>
            <ul>
                <tr>
                    <td>
                        <img src="~/images/december_2016.jpg" />
                        <img src="~/Images/Thumb_Feb_2018.jpg" /> <br>

                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/january_2018.jpg" />
                        <img src="~/Images/august_2017.jpg" />

                    </td>
                </tr>
        </article>


        <footer>© CRAZY BIKES. ALL RIGHTS RESERVED.</footer>

</body>
</html>
