@model IEnumerable<Models.VehicleInformation>
@using GridMvc.Html

<h3>@ViewBag.Message</h3>

<div>
    @if (Model != null && Model.Count() > 0)
    {
        <div class="panel panel-primary pre-scrollable">
            @Html.Grid(Model).Named("VehicleInfoData").Columns(columns =>
            {
                columns.Add(col => col.ModelName).Titled("Model Name");
                columns.Add(col => col.ModelYear).Titled("Model Year");
                columns.Add(col => col.Price).Titled("Price");
            }).WithPaging(4).Sortable()
        </div>
    }

</div>


